<div class="row as-help-panel as-help-panel-hidden">
	<h3 class="as-help-title">Help and Instructions</h3>
	<ul class="as-help-list">
		<li><p>Click on a space to reveal it</p></li>
		<li><p><cmd>Right Click</cmd> or on a touch screen <cmd>Press</cmd> on a space for more then .5 seconds to flag or unflag a space</p></li>
		<li><p>The number on a space indicates the number of mines which it touches</p></li>
		<li><p>If any space you reveal touchs a space which has a count of 0 it will also be revealed</p></li>
		<li><p>Click Reset / &#x27f3 at any time to reset the game</p></li>
		<li><p>Click settings / &#x2699 to toggle the board settings panel</p></li>
		<li><p>Click reset after adjust settings to make them take effect</p></li>
	</ul>
</div>