<div class="row as-settings-panel as-settings-panel-hidden">
		<div class="col-xs-4">
			<label for="as-mine-count">Mine Count: </label>
			<input type="number" id="as-mine-count" class="as-count-input">
		</div>
		<div class="col-xs-4">
			<label for="as-board-width">Board Width: </label>
			<input type="number" id="as-mine-width" class="as-width-input">
		</div>
		<div class="col-xs-4">
			<label for="as-board-height">Board Height: </label>
			<input type="number" id="as-mine-height" class="as-height-input">
		</div>
</div>