<div class="as-toolbar row">
	<div class="col-xs-8 as-remaining">
		Remaining: <span class="remaining-val"></span>
	</div>
	<div class="col-xs as-reset" title="reset">
		&#x27f3;
	</div>
	<div class="col-xs as-settings" title="settings">
		&#x2699;
	</div>
	<div class="col-xs as-help" title="help">
		?
	</div>
</div>