<div class="as-mine">
	<div class="as-toolbar-wrap">
		{{> toolbar}}
		{{> settings}}
		{{> help}}
	</div>
	<div class="board-wrap">
		<div class="as-gameboard">

		</div>
		<div class="as-screen">

		</div>
	</div>
</div>